.enterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.inputGroupContainer {
  margin-bottom: 5px;
}
