.usersContainer {
  display: flex;
  flex-direction: column;
}

.onlineCounter {
  margin-top: 5px;
}

.messagesBlock {
  border-left: 1px solid black;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
}

.messageLeft {
  max-height: 50%;
  border: none;
  width: fit-content;
  border-radius: 4px;
  color: white;
  padding: 5px;
  background-color: purple;
}

.messageRight {
  border: none;
  width: fit-content;
  border-radius: 4px;
  color: white;
  padding: 5px;
  background-color: green;
}

.messageAuthorRight {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
  font-size: 14px;
}

.messageAuthorLeft {
  margin-bottom: 10px;
  font-size: 14px;
}

.userName {
  padding: 7px 0;
}

.roomHeader {
  padding-top: 10px;
  text-align: center;
  border-bottom: 1px solid black;
}

.infoBlock {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.chatContainer {
  border: 1px solid black;
  height: 80vh;
  border-radius: 4px;
  display: flex;
  margin: 40px;
}

.messageRightContainer {
  display: flex;
  width: 100%;
  justify-content: end;
}

.right {
  display: grid;
  justify-content: end;
}
